{
    "extends": "eslint:recommended",
    "env": {
        "browser":true,
        "jasmine":true
    },
    "globals": {
        "angular":false,
        "Vibrant":false
    },
    "plugins": [
        "angular"
    ],
    "rules": {
        "no-unused-vars": 1
    }
}